.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfvars
*.tfvars.json
crash.log
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.vscode/
.idea/
*.swp